<ul>
  <li><a class="{{home}}" href="/">Home</a></li>
  <li><a class="{{addstory}}" href="/addstory">Add New</a></li>
  <li><a class="{{fullstory}}" href="/fullstory">Full Story</a></li>
  <li><a class="{{login}}" href="/login">Login</a></li>
  <li><a class="{{register}}" href="/register">Register</a></li>
</ul>